# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
*.env/
*.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Python egg and build files
*.egg-info/
dist/
build/

# Logs
*.log
